body {
    text-align: center;
    background-color: #ffc845;
}
.card-body {
    padding: 3rem; 
}
.card {
    border-radius: 20px;
    box-shadow: 5px 5px 10px 5px rgba(0,0,0,0.5);
}
.text-green {
    color: #008000;
}
.text-purple {
    color: #800080;
}
.text-blue {
color: #0000FF;
}
.text-red {
    color: #FF0000;
}
.text-orange {
    color: #FFA500;
}
.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}
.btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}
.card-body h3,
.card-body p {
    transition: opacity 0.3s ease, visibility 0.3s ease;
}
.card-body h3 {
    margin-bottom: 0;
    visibility: visible;
}
.card-body p {
    opacity: 0;
    visibility: hidden;
    font-size: 18px;
}
.card-body:hover h3 {
    opacity: 0;
    visibility: hidden;
}
.card-body:hover p {
    opacity: 1;
    visibility: visible;
}