body {
    background-color: #943270;
}

.card {
    border-radius: 20px;
    box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.5);
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}
#showTable {
    width: 70%;
    margin-top: 25px;
    text-align: center;
    border-collapse: collapse;
}

td,
th {
    border: 2px solid black;
}