<!Doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
    </script>
    <link rel="icon" type="image/x-icon" href="../static/images/favicon.png">
    <link rel="stylesheet" href="{{url_for('static', filename='css/landingPage.css')}}" />
    <title>Welcome to A Love Letter to the Game Love Letter</title>

</head>

<body>
    <nav class="navbar sticky-top navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <img alt="Brand" src="../static/images/FightingMongoosesLogo.jpeg" width="7%" height="7%">
            <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/session">Session</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/aboutus">About</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div style="background-color: #31363c;color: white;margin-bottom: 10px;padding: 30px 0;text-align: center;">
        <a href="/session" class="start-button">Start Game</a>
        <h1>Welcome to A Love Letter to the Game Love Letter</h1>
        <p>This project is for the CU Boulder, Summer 2023 CSPB 3308 course, by Team 5.<br>
            In one short semester, our task was to put together a full web application,<br>
            and here it is! We chose for our project to develop a site to host a multiplayer<br>
            game, which you can read more about below.
        </p>
    </div>

    <p id="bodyheading" style="font-size:2.5em">The Game We Have Chosen</p>

    <p>We love Love Letter. It's a perfect fit for a fun, fast game with just the right amount of <br>
        complexity to keep players coming back. To show our appreciation for this great game, we've <br>
        redeveloped it here with our own custom design.</p>
    <img src="../static/images/DonutChamp.jpg" class="img-fluid"
        style="height:95vh; width:100vh; margin: 30px; border-radius: 20px; box-shadow: 5px 5px 10px 5px rgba(0,0,0,0.5);">
    <br>

    <p style="font-size:2.5em">Game History</p>
    {% if data %}
    <table class="history"
        style="width: 70vw;background-color: #2a8d96;border: 1px solid white;text-align: center;text-shadow: -1px 1px 2px rgba(0, 0, 0, 0.3);margin-left: auto;margin-right: auto;margin-bottom: 40px;">
        <tr>
            <th style="padding: 5px;">Room ID</th>
            <th style="padding: 5px;">Room Title</th>
            <th style="padding: 5px;">Host</th>
            <th style="padding: 5px;">Players</th>
            <th style="padding: 5px;">Winner</th>
        </tr>

        {% for item in data %}
        <tr>
            <td>{{item[0]}}</td>
            <td>{{item[1]}}</td>
            <td>{{item[2]}}</td>
            <td>{{item[3]}}</td>
            <td>{{item[4]}}</td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}

    <div style="background-color: #31363c;color: white;padding: 20px 0;text-align: center;">
        <h1>The People Who Worked on This Project</h1>
        <p>To see a list of team members, please visit our <a href="/aboutus">about us</a> page</p>
    </div>

</body>

</html>