<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
    <title>Card Game</title>
    <style>
        .container {
            width: 400px;
            margin: 0 auto;
            text-align: center;
            padding: 20px;
            border: 1px solid #ccc;
        }

        h1 {
            margin-bottom: 20px;
        }

        input[type="text"],
        input[type="number"] {
            width: 90%;
            padding: 10px;
            margin-bottom: 10px;
        }

        button {
            padding: 10px 20px;
        }
    </style>
</head>

<body>
    <div class="container">
        <h1>Online Card Game</h1>
        <form method="post">
            <input type="text" name="name" placeholder="Your name" required><br>
            <input type="text" name="room_id" placeholder="Room ID" required><br>
            <input type="radio" name="action" value="create" required> Create new Room
            <input type="radio" name="action" value="join" required> Join In Existing Room <br>
            <button type="submit">Submit</button>
        </form>
    </div>
</body>

</html>