<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.2/socket.io.js"></script>
    <title>Game Room - {{ roomID }}</title>
</head>

<body>
    <div class="room-container" style="display: block;">
        <table id="room-header">
            <tr>
                <th>Room ID</th>
                <th>Host Name</th>
                <th>Players</th>
            </tr>
            <tr>
                <td>1234</td>
                <td>David</td>
                <td>1 / 2</td>
            </tr>
        </table>

        <div id="player-list">
        </div>

        {% if isHost %}
        <div class="buttons">
            <button id="start-button" onclick="startGame()">Start Game</button>
            <button id="leave-button" onclick="leaveRoom()">Leave Room</button>
        </div>
        {% else %}
        <div class="buttons">
            <button id="ready-button" onclick="toggleReady()">Ready</button>
            <button id="leave-button" onclick="leaveRoom()">Leave Room</button>
        </div>
        {% endif %}
    </div>

    <div class="game-container" style="display: none;">
        <div class="south">
            <div class="info">
            </div>
            <ul class="discard">
            </ul>
            <ul class="hand">
            </ul>
        </div>

        <div class="north">
            <div class="info">
            </div>
            <ul class="discard">
            </ul>
            <ul class="hand">
            </ul>
        </div>

        <div class="west">
            <div class="info">
            </div>
            <ul class="discard">
            </ul>
            <ul class="hand">
            </ul>
        </div>

        <div class="east">
            <div class="info">
            </div>
            <ul class="discard">
            </ul>
            <ul class="hand">
            </ul>
        </div>

        <div class="deck">
            <img src="/static/images/card_face0.png" alt="">
        </div>
    </div>
    <script type="text/javascript">
        var socket = io();

        socket.on('connect', function () {
            socket.emit('join', {
                name: '{{name}}',
                roomID: '{{roomID}}'
            });
        })

        socket.on('playerJoined', function (data) {
            const playerName = data.name;
            console.log(`Player ${playerName} joined the room.`);
        });

        socket.on('playerLeft', function (data) {
            const playerName = data.name;
            console.log(`Player ${playerName} left the room.`)
        })

        socket.on('updatePlayerList', function (data) {
            const playerList = document.getElementById('player-list');
            playerList.innerHTML = "";
            data.players.forEach(function (player) {
                var item = document.createElement('div');
                item.classList.add("list-item");
                item.innerHTML = `
                <img src="../static/images/person-icon.jpg" alt="Player Image" />
                <h2 class="player-name">${player.name}</h2>
                <div class="readiness-status">
                    <span class="status-label">Readiness:</span>
                    <span class="status-value">${player.readyStatus ? "Ready" : "Not Ready"}</span>
                </div>
                `;
                playerList.appendChild(item);
            })
        })

        socket.on('message', function (data) {
            console.log(data.message)
        })

        socket.on('game_start', function (data) {
            const roomContainer = document.querySelector(".room-container");
            const gameContainer = document.querySelector(".game-container");
            roomContainer.style.display = "none";
            gameContainer.style.display = "block";
            updateCards(data.players);
        });

        socket.on('start_round', function (data) {
            var currentPlayer = data.player
            if (currentPlayer.sid == socket.id && currentPlayer.isMyTurn) {
                var deck = document.querySelector(".deck img");
                deck.onclick = function () {
                    socket.emit('drawCard', {
                        player: currentPlayer,
                        roomID: '{{ roomID }}'
                    })
                    this.onclick = null;
                }
            }
        })

        function renderCards(player, direction, playerIndex) {
            var info = document.querySelector(`.${direction} .info`);
            var hand = document.querySelector(`.${direction} .hand`);
            var discard = document.querySelector(`.${direction} .discard`);
            var cardsInHand = '';
            var cardsInDiscard = '';

            console.log(player)
            info.innerHTML = `
            <span>${player.name}</span>
            <span>${'⭐'.repeat(player.token)}</span>
            ${player.isMyTurn ? "<span class ='active'> Your Turn </span>" : "<span></span>"}
            `

            for (var i = 0; i < player.hand.length; i++) {
                cardsInHand +=
                    `<li><img src="/static/images/card_face${player.hand[i].value}.png" alt=""></li>`;
            }
            hand.innerHTML = cardsInHand;
            hand.addEventListener("click", function (event) {
                if (player.isMyTurn) {
                    playCard(event, player, playerIndex);
                    hand.removeEventListener("click", playCard);
                }
            });

            for (var j = 0; j < player.discard.length; j++) {
                cardsInDiscard += `<li><img src="/static/images/card_face${player.discard[j].value}.png" alt=""></li>`;
            }
            discard.innerHTML = cardsInDiscard;
        }

        function playCard(event, player, playerIndex) {
            var clickedCardElement = event.target;
            var cardIndex = -1;

            // Find the closest parent <li> element by traversing up the DOM tree
            while (clickedCardElement !== null) {
                if (clickedCardElement.tagName === 'LI') {
                    cardIndex = Array.from(clickedCardElement.parentNode.children).indexOf(clickedCardElement);
                    break;
                }
                clickedCardElement = clickedCardElement.parentElement;
            }

            if (cardIndex >= 0 && cardIndex < player.hand.length) {
                var playedCard = player.hand.splice(cardIndex, 1)[0];
                player.discard.push(playedCard);
                socket.emit("playcard", {
                    player: player,
                    roomID: player.roomID,
                    playerIndex: playerIndex
                });
            }
        }


        function updateCards(players) {
            console.log(players);
            var startIdx = players.findIndex(player => player.sid == socket.id);

            if (players.length == 2) {
                for (var player of players) {
                    if (player.sid == socket.id) {
                        renderCards(player, "south", startIdx);
                    } else {
                        renderCards(player, "north", ((startIdx + 1) % players.length));
                    }
                }
            } else {
                for (let i = 0; i < players.length; i++) {
                    let playerIndex = (startIdx + i) % players.length;

                    if (i === 0) {
                        renderCards(players[playerIndex], "south", playerIndex);
                    } else if (i === 1) {
                        renderCards(players[playerIndex], "west", playerIndex);
                    } else if (i === 2) {
                        renderCards(players[playerIndex], "north", playerIndex);
                    } else if (i === 3) {
                        renderCards(players[playerIndex], "east", playerIndex);
                    }
                }
            }
        }

        socket.on("updateGameStatus", function (data) {
            updateCards(data.players);
        })

        function toggleReady() {
            var readyBtn = document.getElementById('ready-button');
            var isReady = readyBtn.innerText;

            if (isReady === 'Ready') {
                readyBtn.innerText = 'Not Ready';
            } else {
                readyBtn.innerText = 'Ready';
            }

            socket.emit('ready', {
                name: '{{ name }}',
                roomID: '{{ roomID }}',
                readyStatus: readyBtn.innerText !== 'Ready'
            });
        }

        function leaveRoom() {
            socket.emit('leave', {
                roomID: '{{ roomID }}'
            })
            window.location.href = '/';
        }

        function startGame() {
            socket.emit('startGame', {
                roomID: '{{ roomID }}'
            });
        }
    </script>
</body>

</html>