<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.2/socket.io.js"></script>
    <title>Card Game - Room {{ room_id }}</title>
</head>

<body>
    <div class="room_container" style="display: block;">
        <h1>Card Game - Room {{ room_id }}</h1>
        <h3>Players:</h3>
        <ul id="playerList"></ul>

        {% if is_host %}
        <div>
            <button id="start-btn" onclick="startGame()">Start Game</button>
            <button onclick="leaveRoom()">Leave Room</button>
        </div>
        {% else %}
        <div>
            <button id="ready-btn" onclick="toggleReady()">Ready</button>
            <button onclick="leaveRoom()">Leave Room</button>
        </div>

        {% endif %}
    </div>

    <div class="game_container" style="display: none;">
        <div class="south">
            <ul class="discard">
            </ul>
            <ul class="hand">
            </ul>
        </div>

        <div class="north">
            <ul class="discard">
            </ul>
            <ul class="hand">
            </ul>
        </div>

        <div class="west">
            <ul class="discard">
            </ul>
            <ul class="hand">
            </ul>
        </div>

        <div class="east">
            <ul class="discard">
            </ul>
            <ul class="hand">
            </ul>
        </div>

        <div class="deck">
            <img src="/static/images/card_face0.png" alt="">
        </div>
    </div>
    <script type="text/javascript">
        var socket = io();

        socket.on('connect', function () {
            socket.emit('join', {
                name: '{{name}}',
                room_id: '{{room_id}}'
            });
        })

        socket.on('playerJoined', function (data) {
            const playerName = data.name;
            console.log(`Player ${playerName} joined the room.`);
        });

        socket.on('playerLeft', function (data) {
            const playerName = data.name;
            console.log(`Player ${playerName} left the room.`)
        })

        socket.on('updatePlayerList', function (data) {
            console.log(data);
            const playerList = document.getElementById('playerList');
            playerList.innerHTML = '';

            data.players.forEach(function (player) {
                var li = document.createElement('li');
                li.innerText = `${player.name} - ${player.ready ? "Ready" : "Not Ready"}`;
                playerList.appendChild(li);
            })
        })

        socket.on('message', function (data) {
            console.log(data.message)
        })

        socket.on('game_start', function (data) {
            console.log(data);
            var players = data.players;
            const room_container = document.querySelector(".room_container");
            const game_container = document.querySelector(".game_container");

            room_container.style.display = "none";
            game_container.style.display = "block";

            var startIdx = players.findIndex(player => player.sid == socket.id)

            if (players.length == 2) {
                for (var player of players) {
                    if (player.sid == socket.id) {
                        document.querySelector(".south .hand").innerHTML =
                            `<li><img src="/static/images/card_face${player.hand[0].value}.png" alt=""></li>`
                    } else {
                        document.querySelector(".north .hand").innerHTML =
                            `<li><img src="/static/images/card_face${player.hand[0].value}.png" alt=""></li>`
                    }
                }
            } else {
                for (let i = 0; i < players.length; i++) {
                    let playerIndex = (startIdx + i) % players.length;

                    if (i === 0) {
                        document.querySelector(".south .hand").innerHTML =
                            `<li><img src="/static/images/card_face${players[playerIndex].hand[0].value}.png" alt=""></li>`
                    } else if (i === 1) {
                        document.querySelector(".west .hand").innerHTML =
                            `<li><img src="/static/images/card_face${players[playerIndex].hand[0].value}.png" alt=""></li>`
                    } else if (i === 2) {
                        document.querySelector(".north .hand").innerHTML =
                            `<li><img src="/static/images/card_face${players[playerIndex].hand[0].value}.png" alt=""></li>`
                    } else if (i === 3) {
                        document.querySelector(".east .hand").innerHTML =
                            `<li><img src="/static/images/card_face${players[playerIndex].hand[0].value}.png" alt=""></li>`
                    }
                }
            }

        });

        socket.on('start_round', function(data){
            console.log(data);
            var current_player = data.player
            if (current_player.sid = socket.id && current_player.isMyTurn) {
                socket.emit('drawCard', {
                    player: current_player,
                    room_id: '{{ room_id }}'
                })
            }
        })

        socket.on("updateGameStatus", function(data){
            console.log('Does not work')
            var players = data.players
            var startIdx = players.findIndex(player => player.sid == socket.id)

            if (players.length == 2) {
                for (var player of players) {
                    if (player.sid == socket.id) {
                        var content = ''
                        for (var i = 0; i < player.hand.length; i++) {
                            content += `<li><img src="/static/images/card_face${player.hand[i].value}.png" alt=""></li>`
                        }
                    } else {
                        document.querySelector(".north .hand").innerHTML =
                            `<li><img src="/static/images/card_face${player.hand[0].value}.png" alt=""></li>`
                    }
                }
            } else {
                for (let i = 0; i < players.length; i++) {
                    let playerIndex = (startIdx + i) % players.length;

                    if (i === 0) {
                        document.querySelector(".south .hand").innerHTML =
                            `<li><img src="/static/images/card_face${players[playerIndex].hand[0].value}.png" alt=""></li>`
                    } else if (i === 1) {
                        document.querySelector(".west .hand").innerHTML =
                            `<li><img src="/static/images/card_face${players[playerIndex].hand[0].value}.png" alt=""></li>`
                    } else if (i === 2) {
                        document.querySelector(".north .hand").innerHTML =
                            `<li><img src="/static/images/card_face${players[playerIndex].hand[0].value}.png" alt=""></li>`
                    } else if (i === 3) {
                        document.querySelector(".east .hand").innerHTML =
                            `<li><img src="/static/images/card_face${players[playerIndex].hand[0].value}.png" alt=""></li>`
                    }
                }
            }
        })
        function toggleReady() {
            var readyBtn = document.getElementById('ready-btn');
            var isReady = readyBtn.innerText;

            if (isReady === 'Ready') {
                readyBtn.innerText = 'Not Ready';
            } else {
                readyBtn.innerText = 'Ready';
            }

            socket.emit('ready', {
                name: '{{ name }}',
                room_id: '{{ room_id }}',
                ready: readyBtn.innerText !== 'Ready'
            });
        }

        function leaveRoom() {
            socket.emit('leave', {
                room_id: '{{ room_id }}'
            })
            // Redirect back to the main page
            window.location.href = '/';
        }

        function startGame() {
            socket.emit('startGame', {
                room_id: '{{ room_id }}'
            });
        }
    </script>
</body>

</html>